.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# FVM
.fvm/*
!.fvm/fvm_config.json

# Android Studio / IntelliJ
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/mcp.json

# macOS
.DS_Store
